Source: sudo-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: sudo-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc, sudo
Conflicts: systemd, systemd-sysv
Description: Package to add sudo configuration for OpenRC.
 This package will add the boot scripts to use sudo
 with OpenRC in Nitrux.

